<p>
  <b>Name:
  <%=h @sponsor.name %>


<p>
  <b>Image:
  <%=h @sponsor.image %>


<p>
  <b>Url:
  <%=h @sponsor.url %>


<p>
  <b>Visible:
  <%=h @sponsor.visible %>


<p>
  <b>Info:
  <%=h @sponsor.info %>



<%= link_to 'Edit', edit_admin_sponsor_path(@sponsor) %> |
<%= link_to 'Back', admin_sponsors_path %>
